.play-unit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 2rem;
    min-height: calc(100vh - var(--HEADER_HEIGHT));
    max-width: 1000px;
}

.play-unit-figure {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.play-unit-like-ctr {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.play-unit-description-ctr {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.play-unit-progress-ctr {
    width: 100%;
}

.play-unit-artist {
    color: var(--PRIMARY_COLOR);
    font-size: 1.8rem;
}

.play-unit-track {
    color: var(--SECONDARY_COLOR);
    font-size: 1.2rem;
}

.like-icon {
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.3s;
}

.like-icon:hover {
    opacity: 1;
    transform: scale(1.2);
}

@media (max-height: 800px) {
    .play-unit-figure {
        width: 60%;
    }
}

@media (max-height: 600px) {
    .play-unit-figure {
        width: 35%;
    }
}

@media (max-height: 460px) {
    .play-unit-figure {
        width: 0;
    }
}


