.play-unit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 2rem;
    min-height: calc(100vh - var(--HEADER_HEIGHT));
    max-width: 1000px;
}

.play-unit-figure {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.play-unit-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.play-unit-artist {
    color: var(--PRIMARY_COLOR);
    font-size: 1.8rem;
}

.play-unit-track {
    color: var(--SECONDARY_COLOR);
    font-size: 1.2rem;
}

.play-unit-description h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-height: 800px) {
    .play-unit-figure {
        width: 60%;
    }
}

@media (max-height: 600px) {
    .play-unit-figure {
        width: 35%;
    }
}

@media (max-height: 460px) {
    .play-unit-figure {
        width: 0;
    }
}


