.play-controller {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 0.5rem;
}

.play-controller-icon {
    cursor: pointer
}

.play-controller-icon-idle {
    opacity: 0.5;
    transition: all 0.3s;
}

.play-controller-icon-idle:hover {
    opacity: 1;
    transform: scale(1.3);
}

@media (min-width: 500px) {
    .play-controller {
        padding: 2rem 4rem;
    }
}