.media-controller {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 0.5rem;
}

.media-play-controller {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}
